<mdb-accordion>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>Cursos</ng-template>
    <ng-template mdbAccordionItemBody>
      <app-gacursos></app-gacursos>
    </ng-template>
  </mdb-accordion-item>

  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>Colegiados</ng-template>
    <ng-template mdbAccordionItemBody>
      <app-gacolegiados></app-gacolegiados>
    </ng-template>
  </mdb-accordion-item>

  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>Alunos</ng-template>
    <ng-template mdbAccordionItemBody>
      <app-gaalunos></app-gaalunos>
    </ng-template>
  </mdb-accordion-item>
</mdb-accordion>