<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-text">Todas as Demandas</h4>
      <h1 class="card-title">{{ demandas.length }}</h1>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-text">Para análise</h4>
      <h1 class="card-title">{{ calculaDemandaParaAnalise() }}</h1>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-text">Encaminhadas para os cursos</h4>
      <h1 class="card-title">{{ calculaDemandaEncaminhada() }}</h1>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-text">Negadas</h4>
      <h1 class="card-title">{{ calculaDemandaNegada() }}</h1>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-text">Aptas</h4>
      <h1 class="card-title">{{ calculaDemandaApta() }}</h1>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-text">Finalizadas</h4>
      <h1 class="card-title">{{ calculaDemandaFinalizada() }}</h1>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-text">Iniciadas</h4>
      <h1 class="card-title">{{ calculaDemandaIniciada() }}</h1>
    </div>
  </div>
</div>