<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">0</h1>
          <p class="card-text">Todas as Demandas</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">0</h1>
          <p class="card-text">Novas</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">0</h1>
          <p class="card-text">Para análise</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">0</h1>
          <p class="card-text">Encaminhadas para os cursos</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">0</h1>
          <p class="card-text">Negadas</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">0</h1>
          <p class="card-text">Aptas</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">0</h1>
          <p class="card-text">Iniciadas</p>
        </div>
      </div>
    </div>
  </div>
</div>
