@import '../../../../../assets/styles/cores.scss';

.container{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.card {
  text-align: center;
  background-color: #fff;
  width: 350px;
}
h1{
    font-size: 10rem !important;
}
h4{
    font-family: Aprova !important;
    font-weight: bold;
    color: $pretoUniamerica !important;
}
