.container{
    background-color: #6c6b6f;
    width: 300px;
    height: 120px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 12px;
}