@import '../../../../assets/styles/cores.scss';

.container{
    background-color: #6c6b6f;
    width: 300px;
    height: 120px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 12px;
}
.container:hover{
    background-color: #B6B5B7;
}
.container:hover p{
    color: $pretoUniamerica !important;
}

.modal-header, .modal-body{
    background-color: $cinzaUniamerica;
}