<div class="form-cadastro">


    <mdb-form-control>

        <input mdbInput type="text" id="formControlLg" class="form-control form-control" (keyup.enter)="save()" [(ngModel)]="Instituicao.nome"/>
        <label class="form-label" for="formControlLg">Nome</label>

    </mdb-form-control>

    <mdb-form-control>

        <input mdbInput type="text" id="formControlLg" class="form-control form-control" (keyup.enter)="save()" [(ngModel)]="Instituicao.cidade"/>
        <label class="form-label" for="formControlLg">Cidade</label>

    </mdb-form-control>

    <mdb-form-control>

        <input mdbInput type="text" id="formControlLg" class="form-control form-control" (keyup.enter)="save()" [(ngModel)]="Instituicao.cep"/>
        <label class="form-label" for="formControlLg">Cep</label>

    </mdb-form-control>

    <mdb-form-control>

        <input mdbInput type="text" id="formControlLg" class="form-control form-control" (keyup.enter)="save()" [(ngModel)]="Instituicao.cnpj"/>
        <label class="form-label" for="formControlLg">Cnpj</label>

    </mdb-form-control>

    <mdb-form-control>

        <input mdbInput type="text" id="formControlLg" class="form-control form-control" (keyup.enter)="save()" [(ngModel)]="Instituicao.razaoSocial"/>
        <label class="form-label" for="formControlLg">Razão Social</label>

    </mdb-form-control>

    <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="save()">Salvar</button>

</div>