<div class="container">
  <form>
    <mdb-form-control class="mb-4">
      <input
        mdbInput
        type="text"
        id="inputNome"
        class="form-control"
        name="nome"
        [(ngModel)]="curso.nome"
        (keyup.enter)="save()"
        required
      />
      <label mdbLabel class="form-label" for="inputNome">Nome</label>
    </mdb-form-control>
    <!-- Submit button -->
    <button
      mdbRipple
      type="button"
      class="btn btn-success btn-block mb-4"
      (click)="save()"
    >
      Salvar
    </button>
  </form>
</div>
