<div id="BarraBuscar">
    <mdb-form-control id="inputBusca">
      <input mdbInput type="text" id="typeText" class="form-control" />
      <label mdbLabel class="form-label" for="typeText">Buscar</label>
    </mdb-form-control>
    <select name="Selec1" id="select1" class="Combobox">
      <option value="TESTE">asdasd</option>
    </select>
    <select name="Selec2" id="select2" class="Combobox">
      <option value="TESTE">asdasd</option>
      <option value="TESTE2">asdasd</option>
    </select>
    <select name="Selec3" id="select3" class="Combobox">
      <option value="TESTE">asdasd</option>
    </select>
  </div>
  