@import '../../../../assets/styles/cores.scss';

#inputBusca{
    width: 850px;
    margin: 10px;
}
#BarraBuscar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    background-color: $amareloUniamerica;
    color: $pretoUniamerica;
}