<div class="container">
    <h1>Pessoas</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Login</th>
          <th scope="col">Senha</th>
          <th scope="col">CPF</th>
          <th scope="col">Telefone</th>
          <th scope="col">Função</th>
          <th scope="col">Status</th>
          <th scope="col">
            <button
              type="button"
              class="btn btn-primary btn-rounded"
              mdbRipple
              disabled
            >
              Novo
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (pessoa of lista; track $index) {
        <tr>
          <th scope="row">{{ pessoa.idPessoa }}</th>
          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.login }}</td>
          <td>{{ pessoa.senha }}</td>
          <td>{{ pessoa.cpf }}</td>
          <td>{{ pessoa.telefone }}</td>
          @if(pessoa.funcao){
              <td>{{ pessoa.funcao.nome }}</td>
          }
          @else{
            <td> --- </td>
          }
          @if(pessoa.status){
              <td>{{ pessoa.status.nome }}</td>
          }
          @else {
            <td> --- </td>
          }
          <td>
            <button type="button" class="btn btn-primary btn-rounded" mdbRipple disabled>
              Editar
            </button>
            <button
              type="button"
              class="btn btn-danger btn-rounded"
              mdbRipple
              (click)="deleteById(pessoa)"
            >
              Deletar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>