<form>
  <!-- nome  -->
  <mdb-form-control class="mb-4">
    <input
      mdbInput
      type="text"
      id="nome"
      name="nome"
      class="form-control"
      [(ngModel)]="professor.nome"
    />
    <label mdbLabel class="form-label" for="nome">Nome</label>
  </mdb-form-control>

  <!-- CPF -->
  <mdb-form-control class="mb-4">
    <input
      mdbInput
      type="text"
      id="cpf"
      name="cpf"
      class="form-control"
      [(ngModel)]="professor.cpf"
    />
    <label mdbLabel class="form-label" for="cpf">CPF</label>
  </mdb-form-control>

  <!-- Curso -->
  <mat-form-field>
    <mat-label>Curso</mat-label>
    <mat-select [(ngModel)]="cursoNomeSelect" name="curso">
      @for (curso of listaCursos; track $index) {
      <mat-option [value]="curso.nome">{{ curso.nome }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- Turma -->
  <mat-form-field>
    <mat-label>Turma</mat-label>
    <mat-select [(ngModel)]="turmaIdSelect" name="turma" id="turmaMatSelect">
        @if (listaTurmasFiltroCurso.length>0) { 
            @for (turma of listaTurmasFiltroCurso; track $index) {
                <mat-option [value]="turma.id">{{ turma.periodoCurso }}º Período</mat-option>
            } 
        } 
        @else { 
            <mat-option [value]="">Selecio um curso para habilitar a seleção de turmas</mat-option>
        }
    </mat-select>
  </mat-form-field>

  <!-- Submit button -->
  <button
    mdbRipple
    type="button"
    class="btn btn-primary btn-block"
    (click)="save()"
  >
    Salvar
  </button>
  <!-- botão deletar -->
  <button
    mdbRipple
    type="button"
    class="btn btn-danger btn-block"
    (click)="deleteById()"
  >
    Delatar
  </button>
</form>
