<div class="container">
    <form>
      <mdb-form-control class="mb-4">
        <input
          mdbInput
          type="text"
          id="inputNome"
          class="form-control"
          name="nome"
          [(ngModel)]="professor.nome"
          (keyup.enter)="save()"
          required
        />
        <label mdbLabel class="form-label" for="inputNome">Nome</label>
      </mdb-form-control>
  
      <mdb-form-control class="mb-4">
        <input
          mdbInput
          type="text"
          id="inputLogin"
          class="form-control"
          name="login"
          [(ngModel)]="professor.login"
          (keyup.enter)="save()"
          required
        />
        <label mdbLabel class="form-label" for="inputLogin">Login</label>
      </mdb-form-control>
  
      <mdb-form-control class="mb-4">
        <input
          mdbInput
          type="text"
          id="inputSenha"
          class="form-control"
          name="senha"
          [(ngModel)]="professor.senha"
          (keyup.enter)="save()"
          required
        />
        <label mdbLabel class="form-label" for="inputSenha">Senha</label>
      </mdb-form-control>
  
      <mdb-form-control class="mb-4">
        <input
          mdbInput
          type="text"
          id="inputCPF"
          class="form-control"
          name="cpf"
          [(ngModel)]="professor.cpf"
          (keyup.enter)="save()"
          pattern="^\d{3}\.\d{3}\.\d{3}-\d{2}$"
          required
        />
        <label mdbLabel class="form-label" for="inputCPF">CPF</label>
      </mdb-form-control>
  
      <mdb-form-control class="mb-4">
        <input
          mdbInput
          type="text"
          id="inputTelefone"
          class="form-control"
          name="telefone"
          [(ngModel)]="professor.telefone"
          (keyup.enter)="save()"
          required
        />
        <label mdbLabel class="form-label" for="inputTelefone">Telefone</label>
      </mdb-form-control>
  
  
      <!-- Submit button -->
      <button
        mdbRipple
        type="button"
        class="btn btn-primary btn-block mb-4"
        (click)="save()"
      >
        Salvar
      </button>
    </form>
  </div>
  