<div class="container">
    <form>
      <mdb-form-control class="mb-4">
        <input
          mdbInput
          type="number"
          id="inputPeriodo"
          class="form-control"
          name="nome"
          [(ngModel)]="periodo.periodo"
          (keyup.enter)="save()"
          required
        />
        <label mdbLabel class="form-label" for="inputNome">Periodo</label>
      </mdb-form-control>
  
  
      <!-- Submit button -->
      <button
        mdbRipple
        type="button"
        class="btn btn-primary btn-block mb-4"
        (click)="save()"
      >
        Salvar
      </button>
    </form>
  </div>
  