<div class="container">
    <h1>Tipo de Instituicao</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">
            <button
              type="button"
              class="btn btn-primary btn-rounded"
              mdbRipple
              (click)="new()"
            >
              Novo
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (tipoinstituicao of lista; track $index) {
        <tr>
          <th scope="row">{{ tipoinstituicao.idTipoInstituicao }}</th>
          <td>{{ tipoinstituicao.nome }}</td>
          <td>
            <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="edit(tipoinstituicao)">
              Editar
            </button>
            <button
              type="button"
              class="btn btn-danger btn-rounded"
              mdbRipple
              (click)="deleteById(tipoinstituicao)"
            >
              Deletar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  
  <ng-template #modalTipoInstituicaoDetalhe>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modalRef.close()"
      ></button>
    </div>
    <div class="modal-body">
      <app-tipoinstituicaodetails [tipoinstituicao]="tipoInstituicaoEdit"(retorno)="retornoDetalhe($event)"></app-tipoinstituicaodetails>
    </div>
  </ng-template>
  