<mdb-accordion>
  <!-- 1ª camada -->
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>
      <h2>1ª Camada</h2>
    </ng-template>
    <ng-template mdbAccordionItemBody>
      <mdb-accordion>
        <!-- curso -->
        <mdb-accordion-item>
          <ng-template mdbAccordionItemHeader>Curso</ng-template>
          <ng-template mdbAccordionItemBody>
            <button
              type="button"
              class="btn btn-primary"
              id="btnCadastrar"
              mdbRipple
              (click)="saveCurso()"
            >
              Cadastrar
            </button>
            <ol class="list-group list-group-light list-group-numbered">
              @for (curso of listaCursos; track $index) {
              <li
                class="list-group-item d-flex justify-content-between align-items-start"
                (click)="updateCurso(curso)"
              >
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{ curso.nome }}</div>
                  @for (coordenador of curso.coordenadores; track $index) {
                  {{ coordenador.nome }}
                  <p></p>
                  }
                </div>
              </li>
              }
            </ol>
          </ng-template>
        </mdb-accordion-item>

        <!-- tipo instituicao -->
        <mdb-accordion-item>
          <ng-template mdbAccordionItemHeader>Tipo Instituição</ng-template>
          <ng-template mdbAccordionItemBody>
            <button
              type="button"
              class="btn btn-primary"
              id="btnCadastrar"
              mdbRipple
              (click)="saveTipo()"
            >
              Cadastrar
            </button>
            <ol class="list-group list-group-light list-group-numbered">
              @for (tipo of listaTipos; track $index) {
              <li
                class="list-group-item d-flex justify-content-between align-items-start"
                (click)="updateTipo(tipo)"
              >
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{ tipo.nome }}</div>
                </div>
              </li>
              }
            </ol>
          </ng-template>
        </mdb-accordion-item>

        <!-- status demanda -->
        <mdb-accordion-item>
          <ng-template mdbAccordionItemHeader>Status Demanda</ng-template>
          <ng-template mdbAccordionItemBody>
            <button
              type="button"
              class="btn btn-primary"
              id="btnCadastrar"
              mdbRipple
              (click)="saveStatus()"
            >
              Cadastrar
            </button>
            <ol class="list-group list-group-light list-group-numbered">
              @for (status of listaStatus; track $index) {
              <li
                class="list-group-item d-flex justify-content-between align-items-start"
                (click)="updateStatus(status)"
              >
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{ status.nome }}</div>
                </div>
              </li>
              }
            </ol>
          </ng-template>
        </mdb-accordion-item>

        <!-- coordenador de extensao -->
        <mdb-accordion-item>
          <ng-template mdbAccordionItemHeader>Coordenador Extensão</ng-template>
          <ng-template mdbAccordionItemBody>
            <button
              type="button"
              class="btn btn-primary"
              id="btnCadastrar"
              mdbRipple
              (click)="saveCoordenadorExtensao()"
            >
              Cadastrar
            </button>
            <ol class="list-group list-group-light list-group-numbered">
              @for (coordenador of listaCoordenadorExtensao; track $index) {
              <li
                class="list-group-item d-flex justify-content-between align-items-start"
                (click)="updateCoordenadorExtensao(coordenador)"
              >
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{ coordenador.nome }}</div>
                  CPF: {{ coordenador.cpf }}
                </div>
              </li>
              }
            </ol>
          </ng-template>
        </mdb-accordion-item>
      </mdb-accordion>
    </ng-template>
  </mdb-accordion-item>

  <!-- 2ª camada -->
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>
      <h2>2ª Camada</h2>
    </ng-template>
    <ng-template mdbAccordionItemBody>
      <mdb-accordion>
        <!-- Turma -->
        <mdb-accordion-item>
          <ng-template mdbAccordionItemHeader>Turma</ng-template>
          <ng-template mdbAccordionItemBody>
            <button
              type="button"
              class="btn btn-primary"
              id="btnCadastrar"
              mdbRipple
              (click)="gerarTurmas()"
            >
              Gerar Turmas
            </button>
            <ol class="list-group list-group-light">
              @for (turma of listaTurmas; track $index) {
              <li
                class="list-group-item d-flex justify-content-between align-items-start"
              >
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{ turma.periodoCurso }}º Período</div>
                  {{ turma.curso.nome }}
                </div>
              </li>
              }
            </ol>
          </ng-template>
        </mdb-accordion-item>
      </mdb-accordion>
    </ng-template>
  </mdb-accordion-item>

  <!-- 3ª camada -->
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>
      <h2>3ª Camada</h2>
    </ng-template>
    <ng-template mdbAccordionItemBody>
      <mdb-accordion>
        <!-- Coordenador curso -->
        <mdb-accordion-item>
          <ng-template mdbAccordionItemHeader>Coordenador de Curso</ng-template>
          <ng-template mdbAccordionItemBody>
            <button
              type="button"
              class="btn btn-primary"
              id="btnCadastrar"
              mdbRipple
              (click)="saveCoordenadorCurso()"
            >
              Cadastrar
            </button>
            <ul class="list-group list-group-light">
              @for (coordenador of listaCoordenadorCurso; track $index) {
              <li class="list-group-item d-flex justify-content-between align-items-center" (click)="updateCoordenadorCurso(coordenador)">
                <div>
                  <div class="fw-bold">{{coordenador.nome}}</div>
                  <div class="text-muted">CPF: {{coordenador.cpf}}</div>
                </div>
                <span class="badge rounded-pill badge-success">{{coordenador.curso.nome}}</span>
              </li>
              }
            </ul>
          </ng-template>
        </mdb-accordion-item>
        
        <!-- Professor -->
        <mdb-accordion-item>
          <ng-template mdbAccordionItemHeader>Professor de Projeto Integrador</ng-template>
          <ng-template mdbAccordionItemBody>
            sem implementação
          </ng-template>
        </mdb-accordion-item>
        
        <!-- Aluno -->
        <mdb-accordion-item>
          <ng-template mdbAccordionItemHeader>Aluno</ng-template>
          <ng-template mdbAccordionItemBody>
            sem implementação
          </ng-template>
        </mdb-accordion-item>
      </mdb-accordion>
    </ng-template>
  </mdb-accordion-item>

  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>
      <h2>4ª Camada</h2>
    </ng-template>
    <ng-template mdbAccordionItemBody>
      sem implementação
    </ng-template>
  </mdb-accordion-item>

  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>
      <h2>5ª Camada</h2>
    </ng-template>
    <ng-template mdbAccordionItemBody>
      sem implementação
    </ng-template>
  </mdb-accordion-item>
</mdb-accordion>

<!-- modal curso -->
<ng-template #modalCurso>
  <div class="modal-header">
    <h5 class="modal-title" id="modalCurso">Curso</h5>

    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body modal-lg">
    <app-modalcurso
      [curso]="cursoSelect"
      (retorno)="voltaModal($event)"
    ></app-modalcurso>
  </div>
</ng-template>

<!-- modal tipo -->
<ng-template #modalTipoinstituicao>
  <div class="modal-header">
    <h5 class="modal-title" id="modalTipoinstituicao">Tipo Instituicao</h5>

    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body modal-lg">
    <app-modaltipoinstituicao
      [tipo]="tipoSelect"
      (retorno)="voltaModal($event)"
    ></app-modaltipoinstituicao>
  </div>
</ng-template>

<!-- modal coordenador de extensao -->
<ng-template #modalCoordenadorExtensao>
  <div class="modal-header">
    <h5 class="modal-title" id="modalCoordenadorExtensao">
      Coordenador de Extensão
    </h5>

    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body modal-lg">
    <app-modalcoordenadorextensao
      [coordenadorextensao]="coordendaorExtensaoSelect"
      (retorno)="voltaModal($event)"
    ></app-modalcoordenadorextensao>
  </div>
</ng-template>

<!-- modal status -->
<ng-template #modalStatusDemanda>
  <div class="modal-header">
    <h5 class="modal-title" id="modalStatusDemanda">Status de Demanda</h5>

    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body modal-lg">
    <app-modalstatusdemanda
      [status]="statusSelect"
      (retorno)="voltaModal($event)"
    ></app-modalstatusdemanda>
  </div>
</ng-template>

<!-- modal coordenador Curso -->
<ng-template #modalCoordenadorCurso>
  <div class="modal-header">
    <h5 class="modal-title" id="modalStatusDemanda">Coordenador de Curso</h5>

    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body modal-lg">
    <app-modalcoordenadorcurso
      [coordenadorCurso]="coordenadorCursoSelect"
      [listaCursos]="listaCursos"
      (retorno)="voltaModal($event)"
    ></app-modalcoordenadorcurso>
  </div>
</ng-template>

<!-- modal professor -->
<ng-template #modalProfessor>
  <div class="modal-header">
    <h5 class="modal-title" id="modalStatusDemanda">Professor de Projeto Integrador</h5>

    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body modal-lg">
    <app-modalprofessor
      [professor]="professorSelect"
      [listaCursos]="listaCursos"
      [listaTurmas]="listaTurmas"
      (retorno)="voltaModal($event)"
    ></app-modalprofessor>
  </div>
</ng-template>