<nav>
  <div class="navBtnGrp">
    <button class="navBtn">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="25" />
      </svg>
      <p>Incone</p>
    </button>
    <button class="navBtn">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="25" />
      </svg>
      <p>Incone</p>
    </button>
    <button class="navBtn">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="25" />
      </svg>
      <p>Incone</p>
    </button>
  </div>
  <button class="navBtn">
    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <circle cx="50" cy="50" r="25" />
    </svg>
    <p>Incone</p>
  </button>
</nav>
