<div class="loginContainer">

  <div class="loginFieldsMajorContainer">
    <div class="loginFieldsMinorContainer">
      <h1>Acesse a plataforma</h1>

      <div class="loginInputs">
        <mat-form-field>
          <mat-label>Selecione sua categoria</mat-label>
          <mat-select id="selectCategoria" (keyup.enter)="changeFocusTo('inputLogin')" [(ngModel)]="categoria">
            @for (categoria of categorias; track categorias) {
              <mat-option [value]="categoria">{{categoria}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      
        <mdb-form-control class="form-white">
          <input
            mdbInput
            type="text"
            id="inputLogin"
            class="form-control"
            [(ngModel)]="login.username"
            (keyup.enter)="changeFocusTo('inputSenha')"
          />
          <label mdbLabel class="form-label" for="form-log">Login</label>
        </mdb-form-control>
      
        <mdb-form-control class="form-white">
          <input
            mdbInput
            type="password"
            id="inputSenha"
            class="form-control"
            [(ngModel)]="login.password"
            (keyup.enter)="logar()"
          />
          <label mdbLabel class="form-label" for="form-pass">Senha</label>
        </mdb-form-control>
      </div>
      
      <button
        type="button"
        class="btn btnLogin btn-btn"
        mdbRipple
        (click)="logar()"
      >
        Acessar
      </button>
    </div>
  </div>

  <div class="loginImgContainer">
    <img src="../../../../assets/imagem/mimi-thian-vdXMSiX-n6M-unsplash.jpg" alt="" class="loginImg">
  </div>
</div>