<main>
  <div class="form-login">

    <h4>Acesse a plataforma</h4>

    <div mdbDropdown class="dropdown">
      <a
        class="btn btn-primary dropdown-toggle mb-3"
        role="button"
        id="dropdownMenuLink"
        mdbDropdownToggle
        aria-expanded="false"
      >
       Categoria
      </a>
      <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Coordenação de Extensão</a></li>
        <li><a class="dropdown-item" href="#">Coordenação de Curso</a></li>
        <li><a class="dropdown-item" href="#">Professor PIE</a></li>
        <li><a class="dropdown-item" href="#">Aluno</a></li>
      </ul>
    </div>
    
    <mdb-form-control class="mb-3">
      <input mdbInput type="text" id="form-log" class="form-control" />
      <label mdbLabel class="form-label" for="form-log">Login</label>
    </mdb-form-control>

    <mdb-form-control>
      <input mdbInput type="password" id="form-pass" class="form-control" />
      <label mdbLabel class="form-label" for="form-pass">Senha</label>
    </mdb-form-control>

    <button type="button" class="btn btn-primary btn-btn" mdbRipple (click)="logar()">Acessar</button>

  </div>

  <div class="form-imagem">
    <img src="../../../../assets/imagem/educação.png" alt="imageeducation">
  </div>
</main>
