<div class="container">
    <form>
      <mdb-form-control class="mb-4">
        <input
          mdbInput
          type="text"
          id="inputQuantidadeGrupo"
          class="form-control"
          name="QuantidadeGrupo"
          [(ngModel)]="demanda.quantidadeGrupo"
          (keyup.enter)="save()"
          required
        />
        <label mdbLabel class="form-label" for="inputNome">Grupos Necessarios</label>
      </mdb-form-control>
  
      <mdb-form-control class="mb-4">
        <input
          mdbInput
          type="text"
          id="inputProblema"
          class="form-control"
          name="Problema"
          [(ngModel)]="demanda.problema"
          (keyup.enter)="save()"
          required
        />
        <label mdbLabel class="form-label" for="inputProblema">Descreva seu problema</label>
      </mdb-form-control>
  
      <mdb-form-control class="mb-4">
        <input
          mdbInput
          type="text"
          id="inputResultado"
          class="form-control"
          name="Resultado"
          [(ngModel)]="demanda.resultado"
          (keyup.enter)="save()"
          required
        />
        <label mdbLabel class="form-label" for="inputResultado">Resultado esperado</label>
      </mdb-form-control>
  
      <mdb-form-control class="mb-4">
        <input
          mdbInput
          type="text"
          id="inputImpacto"
          class="form-control"
          name="impacto"
          [(ngModel)]="demanda.impacto"
          (keyup.enter)="save()"
        />
        <label mdbLabel class="form-label" for="impacto">Impacto do projeto</label>
      </mdb-form-control>
  
      <mdb-form-control class="mb-4">
            <input
            mdbInput
            type="text"
            id="inputPrazo"
            class="form-control"
            name="prazo"
            [(ngModel)]="demanda.prazo"
            (keyup.enter)="save()"
            />
            <label mdbLabel class="form-label" for="inputTelefone">Prazo</label>
        </mdb-form-control>
  
      <!-- Submit button -->
      <button
        mdbRipple
        type="button"
        class="btn btn-primary btn-block mb-4"
        (click)="save()"
      >
        Salvar
      </button>
    </form>
  </div>

  