<!-- 
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <h3>Listagem de demandas</h3>
          <div class="direita">

            <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="new()">
              Novo
            </button>

        </div>
        <br>
          <table border="1" class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Quantidade de grupos</th>
                <th>Problema</th>
                <th>Resultado</th>
                <th>Impacto</th>
                <th>Prazo</th>
                <th>Instituição</th>
                <th>Demandante</th>
                <th>Status</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              @for (demanda of lista; track $index) {
              <tr>
                <td>{{ demanda.id }}</td>
                <td>{{ demanda.quantidadeGrupo }}</td>
                <td>{{ demanda.problema }}</td>
                <td>{{ demanda.resultado }}</td>
                <td>{{ demanda.impacto }}</td>
                <td>{{ demanda.prazo }}</td>
                <td>{{ demanda.instituicao.nome }}</td>
                <td>{{ demanda.demandante.nome }}</td>
                <td>{{ demanda.status.nome }}</td>

                <td class="direita">
                  <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="edit(demanda)">
                    Editar
                  </button>
                  <button type="button" class="btn btn-danger btn-rounded" mdbRipple (click)="deleteById(demanda)">
                    Deletar
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #modalCarroDetalhe>
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">

    <app-demandadetails [demanda]="demandaEdit" (retorno)="retornoDetalhe($event)"></app-demandadetails>
</div>

</ng-template> -->
<div class="container">
  <h1>Demandas</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Quantidade de grupo</th>
        <th scope="col">Problema</th>
        <th scope="col">Resultado</th>
        <th scope="col">Impacto</th>
        <th scope="col">Prazo</th>
        <th scope="col">Instituição</th>
        <th scope="col">Demandante</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (demanda of lista; track $index) {
        <tr>
          <th scope="row">{{demanda.id}}</th>
          <td>{{demanda.id}}</td>
          <td>{{demanda.quantidadeGrupo}}</td>
          <td>{{demanda.problema}}</td>
          <td>{{demanda.resultado}}</td>
          <td>{{demanda.impacto}}</td>
          <td>{{demanda.prazo}}</td>
          <td>{{demanda.instituicao.nome}}</td>
          <td>{{demanda.demandante.nome}}</td>
          <td>{{demanda.status.nome}}</td>
          <td>
            <button type="button" class="btn btn-primary btn-rounded" mdbRipple>
              Editar
            </button>
            <button type="button" class="btn btn-danger btn-rounded" mdbRipple>
              Deletar
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>