<div class="container">
    <h1>Coordenadores de extensão</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Login</th>
          <th scope="col">Senha</th>
          <th scope="col">CPF</th>
          <th scope="col">Telefone</th>
          <th scope="col">
            <button
              type="button"
              class="btn btn-primary btn-rounded"
              mdbRipple
              (click)="new()"
            >
              Novo
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (coordenadorExtensao of lista; track $index) {
        <tr>
          <th scope="row">{{ coordenadorExtensao.idPessoa }}</th>
          <td>{{ coordenadorExtensao.nome }}</td>
          <td>{{ coordenadorExtensao.login }}</td>
          <td>{{ coordenadorExtensao.senha }}</td>
          <td>{{ coordenadorExtensao.cpf }}</td>
          <td>{{ coordenadorExtensao.telefone }}</td>
          <td>
            <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="edit(coordenadorExtensao)">
              Editar
            </button>
            <button
              type="button"
              class="btn btn-danger btn-rounded"
              mdbRipple
              (click)="deleteById(coordenadorExtensao)"
            >
              Deletar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  
  <ng-template #modalCoordenadorExtensaoDetalhe>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modalRef.close()"
      ></button>
    </div>
    <div class="modal-body">
      <app-coordenadorextensaodetails [coordenadorExtensao]="coordenadorExtensaoEdit" (retorno)="retornoDetalhe($event)"></app-coordenadorextensaodetails>
    </div>
  </ng-template>
  