<div class="form-instituicao">

  <h1>Instituições Cadastradas</h1>

  <div class="bt-save">

    <button (click)="save()" type="button" class="btn btn-primary btn-rounded" mdbRipple><i class="fas fa-plus"></i></button>

  </div>

  <table class="tabela">

    <thead>

        <tr>

            <th class="scope">Id</th>
            <th class="scope">Nome</th>
            <th class="scope">Cidade</th>
            <th class="scope">Cep</th>
            <th class="scope">Cnpj</th>
            <th class="scope">Razão Social</th>

        </tr>

    </thead>

    <tbody>

      @for (instituicao of lista; track $index) {

        <tr>

          <th scope="row">{{instituicao.idInstituicao}}</th>
          <td>{{instituicao.nome}}</td>
          <td>{{instituicao.cidade}}</td>
          <td>{{instituicao.cep}}</td>
          <td>{{instituicao.cnpj}}</td>
          <td>{{instituicao.razaoSocial}}</td>
 
          <td>

              <button class="btn btn-sucesses btn-rounded" mdbRipple (click)="update(instituicao)"><i class="fas fa-pen"></i></button>
              <button class="btn btn-sucesses btn-rounded" mdbRipple (click)="delete(instituicao)"><i class="fas fa-trash-can"></i></button>


          </td>


          
        </tr>

      }

    </tbody>

  </table>

</div>

<ng-template #modalInstituicaoDetalhe>

   <div class="modal-header">

    <h5 class="modal-title" id="exampleModalLabel">Cadastrar Instituições</h5>

    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>

   </div>

   <div class="modal-body">

    <app-instituicaodetails [Instituicao]="instituicaoEdit" (return)="returnDetail($event)"></app-instituicaodetails>

   </div>

</ng-template>