#inputBusca{
    
    width:50rem;
    margin: 10px;
}
#BarraBuscar{
    display: flex;
    align-items: center;
}
.Combobox{
    border-radius: 10px;
    height: 40px;
    width: 100px;
    margin: 5px;
}