<div class="container">
  <form>
    <mdb-form-control class="mb-4">
      <input
        mdbInput
        type="text"
        id="form2Example2"
        class="form-control"
        name="form2Example2"
        [(ngModel)]="funcao.nome"
        (keyup.enter)="save()"
      />
      <label mdbLabel class="form-label" for="form2Example2">Nome</label>
    </mdb-form-control>

    <button mdbRipple type="button" class="btn btn-primary btn-block mb-4" (click)="abrirModalPessoas()">
      Buscar pessoa
    </button>

    <table border="1" class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (pessoa of funcao.pessoas; track $index) {
        <tr>
          <td>{{ pessoa.id }}</td>
          <td>{{ pessoa.nome }}</td>
          <td class="direita">
            <button type="button" class="btn btn-danger btn-rounded" mdbRipple >
              Desvincular
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <!-- Submit button -->
    <button
      mdbRipple
      type="button"
      class="btn btn-primary btn-block mb-4"
      (click)="save()"
    >
      Salvar
    </button>
  </form>
</div>

<ng-template #modalPessoas>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Pessoas</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <p>modal</p>
  </div>
</ng-template>
