/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";
@import "mdb-angular-ui-kit/assets/scss/mdb.scss";

@import './assets/styles/cores.scss';

@font-face {
  font-family: Vanguard-CF-bold;
  src: url("assets/fonts/Vanguard-CF-Bold.otf");
}

@font-face {
  font-family: Aprova;
  src: url("assets/fonts/Aprova-Regular.otf"),
    url("assets/fonts/Aprova-Bold.otf"), url("assets/fonts/Aprova-Black.otf");
}
html {
  font-size: 16px;
  font-family: Aprova, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Vanguard-CF-bold !important;
  margin: 0 !important;
  line-height: 120% !important;
  color: $verdeUniamerica !important;
}
p {
  margin: 0 !important;
  line-height: 120% !important;
  color: #fff !important;
}
h1{
  font-size: 3rem !important;
}
h2{
  font-size: 2.5rem !important;
}
h3{
  font-size: 2.062rem !important;
}
h4{
  font-size: 1.75rem !important;
}
h5{
  font-size: 1.438rem !important;
}
h6{
  font-size: 1.188rem !important;
}
