// cor principal
$verdeUniamerica: #00E88F;
// variações mais claras
$verdeUniamericaL1: #2AEBA1;
$verdeUniamericaL2: #55EFB4;
$verdeUniamericaL3: #7FF3C7;
$verdeUniamericaL4: #AAF7D9;
$verdeUniamericaL5: #D4FBEC;
// variações mais escuras
$verdeUniamericaD1: #00C177;
$verdeUniamericaD2: #009A5F;
$verdeUniamericaD3: #007447;
$verdeUniamericaD4: #004D2F;
$verdeUniamericaD5: #002617;

// cores secundárias
$amareloUniamerica: #FED800;
$rosaUniamerica: #fe68ff;


// tons de cinza e preto
$pretoUniamerica: #191A1A;
$cinzaUniamerica: #232228;